 <head>
     <link rel="stylesheet" type="text/css" href="/css/companystyle.css">
 </head>
 
 <body>
        <h1>companies</h1>
        <br>
        <main>
            <div class="wrapper">
                <h2 class="gallery">Popular companies</h2>
            </div>
            <section class="gallery-links">
                <a class="gallery-img" href="#">
                    <img src="/companyImg/asian.jpg" alt="asian-paints">
                </a>
                <a class="gallery-img" href="#">
                    <img src="/companyImg/bsnl.jpg" alt="asian-paints">
                </a>
                <a class="gallery-img" href="#">
                    <img src="/companyImg/hero.png" alt="asian-paints">
                </a>
                <a class="gallery-img" href="#">
                    <img src="/companyImg/lava.png" alt="asian-paints">
                </a>
                <a class="gallery-img" href="#">
                    <img src="/companyImg/godrej.jpg" alt="asian-paints">
                </a>
                <a class="gallery-img" href="#">
                    <img src="/companyImg/dabur.jpg" alt="asian-paints">
                </a>
                <a class="gallery-img" href="#">
                    <img src="/companyImg/tata.jpg" alt="asian-paints">
                </a>
                <a class="gallery-img" href="#">
                    <img src="/companyImg/wipro.jpg" alt="asian-paints">
                </a>
                <a class="gallery-img" href="#">
                    <img src="/companyImg/airtel.png" alt="asian-paints">
                </a>
                <a class="gallery-img" href="#">
                    <img src="/companyImg/l&t.jpg" alt="asian-paints">
                </a>
                <a class="gallery-img" href="#">
                    <img src="/companyImg/mcl.jpg" alt="asian-paints">
                </a>
                <a class="gallery-img" href="#">
                    <img src="/companyImg/mahindra.jpg" alt="asian-paints">
                </a>
                <a class="gallery-img" href="#">
                    <img src="/companyImg/infosys.jpg" alt="asian-paints">
                </a>
                <a class="gallery-img" href="#">
                    <img src="/companyImg/kic.png" alt="asian-paints">
                </a>
            </section>

            <br><br>
            <div class="wrapper">
                <h2 class="gallery">Trending companies</h2>
            </div>
            <section class="gallery-links">
                <a class="gallery-img" href="#">
                    <img src="/companyImg/ola.jpg" alt="asian-paints">
                </a>
                <a class="gallery-img" href="#">
                    <img src="/companyImg/vodafone.jpg" alt="asian-paints">
                </a>
                <a class="gallery-img" href="#">
                    <img src="/companyImg/vedanta.png" alt="asian-paints">
                </a>
                <a class="gallery-img" href="#">
                    <img src="/companyImg/tvs.png" alt="asian-paints">
                </a>
                <a class="gallery-img" href="#">
                    <img src="/companyImg/mi.png" alt="asian-paints">
                </a>
                <a class="gallery-img" href="#">
                    <img src="/companyImg/accenture.png" alt="asian-paints">
                </a>
                <a class="gallery-img" href="#">
                    <img src="/companyImg/lg.jpg" alt="asian-paints">
                </a>
                <a class="gallery-img" href="#">
                    <img src="/companyImg/jio.png" alt="asian-paints">
                </a>
                <a class="gallery-img" href="#">
                    <img src="/companyImg/idea.png" alt="asian-paints">
                </a>
                <a class="gallery-img" href="#">
                    <img src="/companyImg/flipkart.jpg" alt="asian-paints">
                </a>
                <a class="gallery-img" href="#">
                    <img src="/companyImg/bajaj.png" alt="asian-paints">
                </a>
                <a class="gallery-img" href="#">
                    <img src="/companyImg/gulf.png" alt="asian-paints">
                </a>
                <a class="gallery-img" href="#">
                    <img src="/companyImg/itc.jpg" alt="asian-paints">
                </a>
                <a class="gallery-img" href="#">
                    <img src="/companyImg/bharat.png" alt="asian-paints">
                </a>
            </section>

            <br><br>
            <div class="wrapper">
                <h2 class="gallery">Startup companies</h2>
            </div>
            <section class="gallery-links">
                <a class="gallery-img" href="#">
                    <img src="/companyImg/sky.png" alt="asian-paints">
                </a>
                <a class="gallery-img" href="#">
                    <img src="/companyImg/nanonet.jpg" alt="asian-paints">
                </a>
                <a class="gallery-img" href="#">
                    <img src="/companyImg/oyo.jpg" alt="asian-paints">
                </a>
                <a class="gallery-img" href="#">
                    <img src="/companyImg/loginext.jpg" alt="asian-paints">
                </a>
                <a class="gallery-img" href="#">
                    <img src="/companyImg/naukri.jpg" alt="asian-paints">
                </a>
                <a class="gallery-img" href="#">
                    <img src="/companyImg/coverfox.png" alt="asian-paints">
                </a>
                <a class="gallery-img" href="#">
                    <img src="/companyImg/pramati.jpg" alt="asian-paints">
                </a>
                <a class="gallery-img" href="#">
                    <img src="/companyImg/quikr.jpg" alt="asian-paints">
                </a>
                <a class="gallery-img" href="#">
                    <img src="/companyImg/postman.png" alt="asian-paints">
                </a>
                <a class="gallery-img" href="#">
                    <img src="/companyImg/zomato.png" alt="asian-paints">
                </a>
                <a class="gallery-img" href="#">
                    <img src="/companyImg/freshworks.jpg" alt="asian-paints">
                </a>
                <a class="gallery-img" href="#">
                    <img src="/companyImg/unacademy.png" alt="asian-paints">
                </a>
                <a class="gallery-img" href="#">
                    <img src="/companyImg/fynd.jpg" alt="asian-paints">
                </a>
                <a class="gallery-img" href="#">
                    <img src="/companyImg/witworks.jpg" alt="asian-paints">
                </a>
            </section>
        </main>
        <hr>
        <footer>
            <p>"Want to know more" <a href="#"> sing up</a> now</p>
        </footer>
    </body>


