
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/stylejob.css">
</head>
 <body>
        <nav class="top">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Resume</a></li>
                <li><a href="#">Filter</a></li>
				<li><a href="#">Help</a></li>
               
            </ul>
        </nav>

        <div class="container">

            <div class="card">
                <div class="box">
                    <div class="img">
                        <img src="/jobImg/mi.png">
                    </div>
                    <h2><a href="#">MI India</span></a>
                    <br>
                    <p><h3>Job:Software design</h3>
                    <h3>Skills:programming Skills</h3>
                    <h3>Email:MI_india@gmail.com</h3>
                    <h3>contact:+91 8345671234</h3></p>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="box">
                    <div class="img">
                        <img src="/jobImg/flip.jpg">
                    </div>
                    <h2><a href="#">Flipkart</span></a>
                    <br>
                    <p><h3>Job:Equity Analyst</h3>
                    <h3>Skills:stock marketing</h3>
                    <h3>Email:flipkart@gmail.com</h3>
                    <h3>contact:+91 9945636734</h3></p>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="box">
                    <div class="img">
                        <img src="/jobImg/logi.jpg">
                    </div>
                    <h2><a href="#">Loginext</span></a>
                    <br>
                    <p><h3>Job:Java Developer</h3>
                    <h3>Skills:Java Masterclass</h3>
                    <h3>Email:loginxt@gmail.com</h3>
                    <h3>contact:+91 9777636758</h3></p>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
            
            <div class="card">
                <div class="box">
                    <div class="img">
                        <img src="/jobImg/ol.jpg">
                    </div>
                    <h2><a href="#">OLA</span></a>
                    <br>
                    <p><h3>Job:Assistant Manager</h3>
                    <h3>Skills:MBA & Accounting</h3>
                    <h3>Email:ola@gmail.com</h3>
                    <h3>contact:+91 9432456367</h3></p>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="box">
                    <div class="img">
                        <img src="/jobImg/post.png">
                    </div>
                    <h2><a href="#">Postman</span></a>
                    <br>
                    <p><h3>Job:Web Analyst</h3>
                    <h3>Skills:PHP, Mongo DB & SQL</h3>
                    <h3>Email:postman@gmail.com</h3>
                    <h3>contact:+91 6432678367</h3></p>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="box">
                    <div class="img">
                        <img src="/jobImg/baj.png">
                    </div>
                    <h2><a href="#">Bajaj</span></a>
                    <br>
                    <p><h3>Job:Mechanical Enginner</h3>
                    <h3>Skills:Btech Mechanical</h3>
                    <h3>Email:bajajindia@gmail.com</h3>
                    <h3>contact:+91 6772678367</h3></p>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="box">
                    <div class="img">
                        <img src="/jobImg/fyn.jpg">
                    </div>
                    <h2><a href="#">Fynd</span></a>
                    <br>
                    <p><h3>Job:Front end Developer</h3>
                    <h3>Skills:HTML, CSS, Javascript</h3>
                    <h3>Email:fynd@gmail.com</h3>
                    <h3>contact:+91 9862678367</h3></p>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="box">
                    <div class="img">
                        <img src="/jobImg/wipro.jpg">
                    </div>
                    <h2><a href="#">Wipro</span></a>
                    <br>
                    <p><h3>Job:Senior Manager</h3>
                    <h3>Skills:Btech, MBA</h3>
                    <h3>Email:itc@gmail.com</h3>
                    <h3>contact:+91 6412373451</h3></p>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="box">
                    <div class="img">
                        <img src="/jobImg/l&t.jpg">
                    </div>
                    <h2><a href="#">L&T</span></a>
                    <br>
                    <p><h3>Job:Project anager</h3>
                    <h3>Skills:Btech, MBA</h3>
                    <h3>Email:l&t@gmail.com</h3>
                    <h3>contact:+91 8972673901</h3></p>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="box">
                    <div class="img">
                        <img src="/jobImg/jio.png">
                    </div>
                    <h2><a href="#">JIO Digital</span></a>
                    <br>
                    <p><h3>Job:Network Analyst</h3>
                    <h3>Skills:Matlab</h3>
                    <h3>Email:jio@gmail.com</h3>
                    <h3>contact:+91 8451273451</h3></p>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="box">
                    <div class="img">
                        <img src="/jobImg/wipro.jpg">
                    </div>
                    <h2><a href="#">Wipro</span></a>
                    <br>
                    <p><h3>Job:Senior manager</h3>
                    <h3>Skills:Btech, MBA</h3>
                    <h3>Email:wipro@gmail.com</h3>
                    <h3>contact:+91 6432673451</h3></p>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="box">
                    <div class="img">
                        <img src="/jobImg/deloitte.png">
                    </div>
                    <h2><a href="#">Deloitte</span></a>
                    <br>
                    <p><h3>Job:Senior Consultant</h3>
                    <h3>Skills:Btech, Speaking Skills</h3>
                    <h3>Email:deloitte@gmail.com</h3>
                    <h3>contact:+91 9834673998</h3></p>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>    
    </body>